DorisAndroidCommon/documentation/DORISBase.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="BaseDoris">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Fiche" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Entete">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="NomFrancais"/>
                    <xs:element type="xs:string" name="NomScientifique"/>
                    <xs:element type="xs:string" name="Region"/>
                    <xs:element name="AutresDenominations" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="Denominations" maxOccurs="unbounded" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Images">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Image" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:string" name="Principale" use="optional"/>
                                  <xs:attribute type="xs:string" name="Url" use="optional"/>
                                  <xs:attribute type="xs:string" name="UrlVignette" use="optional"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:short" name="Reference" use="optional"/>
                  <xs:attribute type="xs:string" name="TypeFiche" use="optional"/>
                  <xs:attribute type="xs:byte" name="EspeceGroupe" use="optional"/>
                  <xs:attribute type="xs:byte" name="EspeceSousGroupe" use="optional"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Details" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Detail" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="Titre"/>
                          <xs:element type="xs:string" name="Contenu"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="DateCreation"/>
      <xs:attribute type="xs:anyURI" name="UrlRacineSite"/>
    </xs:complexType>
  </xs:element>
</xs:schema>